<link rel="stylesheet" href="https://use.typekit.net/lcb6sil.css" />
<style>

    .abouttext {
        font-size: 3vmin;
        font-family: "Arial";
        color: rgb(0, 0, 0);
        font-weight: bold;
        line-height: 1.2;
        text-align: justify Center;
        position: absolute;
        left: 35%;
        top: 20%;
        width: 80vmin;
        height: 80vmax;
        z-index: 16;
    }

    .titletext {
        font-size: 3.2vmax;
        font-family: "bebas-neue-pro-expanded";
        color: rgb(0, 0, 0);
        font-weight: bold;
        line-height: 0.6;
        -moz-transform: scale(1.25, 2);
        -webkit-transform: scale(1.25, 2);
        -ms-transform: scale(1.25, 2);
        position: absolute;
        left: 37%;
        top: 10%;
        z-index: 15;
    }

    .pillgif {
        background-image: url("'../../wwwroot/css/img/40 Mascot.png'");
        position: absolute;
        left: 2%;
        top: 20%;
        width: 40vmax;
        height: 45vmax;
        z-index: 14;
    }
</style>

<div class="titletext">

    COME PARTY WITH US

</div>

<div class="abouttext">
    It's lit! The Pill Party is a collection of 10,000 unique collectible NFTS hosted on IPFS and stored on the Ethereum blockchain as ERC-721 tokens. Inspired by 1930s rubber hose cartoons and our favorite vices, each pill is uniquely generated from hand-drawn attributes and a little bit of code.
    <br />
    <br />

    Alcoholics, Fighters, Party People, Demons, Angels, Yuppies, or Goblins: every pill has the possibility of being a member of any of the 7 exclusive clubs (more than one if you're lucky). Your pill can become your digital identity, and club membership can open a variety of digital opportunities for you within the community. When you purchase the NFT, you own the underlying Pill completely.
    <br />
    <br />

    The pills will be mintable via our minting DApp. The mint date is to be announced. In the meantime, join the community Discord, follow us on Twitter, and make sure to stay up to date and get your spot on the guestlist! The Pill Party is poppin'!
</div>

<img class="pillgif" src="~/css/img/40 Mascot.png">







