<link rel="stylesheet" href="https://use.typekit.net/lcb6sil.css" />
<link href="https://fonts.cdnfonts.com/css/peace-sans" rel="stylesheet">

<style>

    .abouttext {
        font-size: 3.5vmin;
        font-family: 'bebas-neue-pro';
        color: rgb(0, 0, 0);
        font-weight: bold;
        line-height: 1;
        text-align: justify center right;
        position: absolute;
        left: 5%;
        overflow-wrap: break-word;
        top: 25%;
        width: 49vmax;
        height: 60vmin;
        z-index: 16;
    }

    .titletextextrude {
        font-size: 4.2vmax;
        font-family: "Bayland Extrude";
        color: rgb(255, 255, 255);
        line-height: 0.6;
        -moz-transform: scale(1.25, 2);
        -webkit-transform: scale(1.25, 2);
        -ms-transform: scale(1.25, 2);
        text-align: justify Center;
        position: absolute;
        left: 9.25%;
        top: 15%;
        z-index: 15;
    }
    .titletextregular {
        font-size: 4.2vmax;
        font-family: "Peace Sans";
        color: rgb(0, 0, 0);
        line-height: 0.6;
        -moz-transform: scale(1.25, 2);
        -webkit-transform: scale(1.25, 2);
        -ms-transform: scale(1.25, 2);
        text-align: justify Center;
        position: absolute;
        left: 9.25%;
        top: 15%;
        z-index: 16;
    }

    .pillgif {
        background-image: url("'../../wwwroot/css/img/40 Mascot.png'");
        position: absolute;
        left: 62.5vmax;
        top: 12vmin;
        width: 35vmax;
        height: 77vmin;
        z-index: 14;
    }
</style>

<div class="titletextregular">

    COME PARTY WITH US

</div>

<div class="abouttext">
    <p style="display: block">
        Inspired by 1930s rubber hose cartoons and your favorite vices, the Pill Party is a collection of 10,000 unique, collectible NFTs hosted on IPFS and stored on the Ethereum blockchain as ERC-721 tokens. Each Pill is randomly generated from hand-drawn attributes and a little bit of code.

    </p>
    <p style="display: block">
        Pill Party is focused on building a tight-knit community for everyone, and to do this we are taking a game-changing approach. Your Pill Party NFT can belong to multiple exclusive clubs if it sports a coin badge, allowing you to stand out in a crowd of 10,000 and connect with others in the same club. Coin badges are granted based on predetermined trait combinations, and if you are lucky, you can have more than one.
    </p>
    <p style="display: block">
        With Pill Party, you own the underlying Pill. It can become your digital identity and open up a variety of opportunities within your club and within the larger Pill Party community. No matter who you are, we are all about making friends and having a good time. Pill Party is for everyone!
    </p>
    <p style="display: block">
        Join the community Discord, follow us on Twitter, and make sure to stay up to date and get your spot on the Guest List! Let’s get this party poppin’!
    </p>
</div>

<img class="pillgif" src="~/css/img/aboutv1.gif">







