@{
    ViewData["Title"] = "Home Page";
}
<body class="yellow">


    <div class="yellow">
    <h1 >Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>



</body>

