@model ClubsViewModel;


<link rel="stylesheet" href="https://use.typekit.net/lcb6sil.css" />
<link href="https://fonts.cdnfonts.com/css/peace-sans" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.typekit.net/lcb6sil.css" />
<link href="https://fonts.cdnfonts.com/css/peace-sans" rel="stylesheet">



<style>
    .outline {
        position: absolute;
        left: 10vmax;
        top: 0vmin;
        width: 80vmax;
        height: 35.35vmax;
        z-index: 1;
    }

    .coin {
        position: absolute;
        left: 52.5vmax;
        top: 67vmin;
        width: 14vmax;
        height: 14vmax;
        z-index: 3;
    }




    .Building {
        position: absolute;
        left: 0vmax;
        top: 0vmin;
        width: 83vmax;
        height: 100vmin;
        z-index: 1;
    }

    .mascot {
        position: absolute;
        left: 1vmax;
        top: 5vmin;
        width: 71.5vmax;
        height: 94vmin;
        z-index: 2;
    }

    .Club {
        font-family: "Peace Sans";
        position: absolute;
        left: 40vmax;
        top: 25vmin;
        width: 80vmax;
        height: 50vmin;
        z-index: 3;
    }

    .percent {
        font-family: "Peace Sans";
        position: absolute;
        left: 48.5vmax;
        top: 32vmin;
        width: 80vmax;
        height: 10vmin;
        z-index: 4;
    }

    .text {
        font-family: 'bebas-neue-pro';
        position: absolute;
        left: 40vmax;
        top: 35vmin;
        width: 25vmax;
        height: 10vmin;
        z-index: 5;
        word-wrap: normal
    }

    .points {
        font-family: 'bebas-neue-pro';
        position: absolute;
        left: 40vmax;
        top: 60vmin;
        width: 20vmax;
        height: 10vmin;
        z-index: 6;
        word-wrap: normal
    }


    .hashTags {
        position: absolute;
        left: 40vmax;
        top: 67.5vmin;
        width: 20vmax;
        height: 10vmin;
        z-index: 6;
        word-wrap: normal
    }

    .membership {
        font-family: "Peace Sans";
        position: absolute;
        left: 40vmax;
        top: 55vmin;
        width: 80vmax;
        height: 10vmin;
        z-index: 6;
        word-wrap: normal
    }

    .back {
        font-family: 'Tilt Warp', cursive;
        font-size: 150%;
        position: absolute;
        left: 10.25vmax;
        top: 85vmin;
        width: 5vmax;
        height: 4.5vmin;
        background-color: transparent;
        outline: none;
        padding: 0;
        border: none;
        z-index: 7;
        word-wrap: normal
    }


    .next {
        font-family: 'Tilt Warp', cursive;
        font-size: 150%;
        position: absolute;
        left: 35.5vmax;
        top: 85vmin;
        width: 5vmax;
        height: 4.5vmin;
        background-color: transparent;
        outline: none;
        padding: 0;
        border: none;
        z-index: 7;
        word-wrap: normal
    }
</style>

@functions{


}

<img class="Building" id="building" src="~/css/img/Club 2.png" />
<img class="Building" id="poles" src="~/css/img/Poles 1.png" />
<img class="coin" id="coin" src="~/css/img/Demon Coin GIF.gif" />
<img class="mascot" id="mascot" src="~/css/img/Demon Mascot.png" />

<strong class="Club" id="club" count="0" style=" font-size: 350%;">Demon Club</strong>
<strong class="percent" id="percentage" count="0" style="font-size: 100%;">370/10000</strong>
<<<<<<< Updated upstream
<strong class="text" id="text" count="0" style="font-size: 155%;">DONT FEAR THE REAPER! <br /> DEMON CLUB HAS A DARKER <br /> AESTHETIC THAN THE REST. <br /> LOOKING FOR THE PARTS GRANTS <br />YOU MEMBERSHIP</strong>
<strong class="points" id="points" count="0" style="font-size: 135%">- WHITE, BLACK, RED SKIN <br /> -DEVILHORNS </strong>
<strong class="hashtags" id="points" count="0" style="font-size: 135%">#DemonClub</strong>
<button class="back" onClick="Back()" id="back" type="button"><img style="width: 3vmax; height: 2vmax;" src="~/css/img/BackV1.png" /> </button>
<button class="next" onClick="Next()" id="next" type="button"><img style="width: 3vmax; height: 2vmax;" src="~/css/img/NextV1.png" /> </button>
=======
<strong class="membership" id="membership" count="0" style=" font-size: 200%;">Membership Criteria</strong>
<p class="text" id="text" count="0" style="font-size: 150%;">DONT FEAR THE REAPER! <br /> DEMON CLUB HAS A DARKER <br /> AESTHETIC THAN THE REST. <br /> LOOKING FOR THE PARTS GRANTS <br />YOU MEMBERSHIP</p>
<strong class="points" id="points" count="0" style="font-size: 135%">WHITE, BLACK, RED SKIN <br />DEVILHORNS </strong>
<strong class="hashTags" id="text" count="0" style="font-size: 155%;">#DemonClub<br />#PillPartyNFT </strong>
<button class="back" onClick="Back()" id="back" type="button"> Back </button>
<button class="next" onClick="Next()" id="next" type="button"> Next </button>
>>>>>>> Stashed changes
<!--<img class="coin" id="coin" src="~/css/img/Demon Coin GIF.gif" />
<img class="mascot" id ="mascot" src="~/css/img/Demon Mascot.png" />

<p class="Club" id="club" count ="0" style=" font-size: 250%;">Demon Club</p>
<p class="percent" id="percentage" count ="0" style="font-size: 100%;">370/10000</p>
<p class="text"  id="text" count ="0" style="font-size: 150%;">DONT FEAR THE REAPER! <br /> DEMON CLUB HAS A DARKER <br /> AESTHETIC THAN THE REST. <br /> LOOKING FOR THE PARTS GRANTS <br />YOU MEMBERSHIP</p>
<p class="points" id="points" count ="0" style="font-size: 125%">- WHITE, BLACK, RED SKIN <br /> -DEVILHORNS </p>-->
<!--<button class="back" onClick="Back()" id="back" type="button"><img style="width: 20vmax; height: 20vmax;" src="~/css/img/Back Arrow.png" /> </button>
<button class="next" onClick ="Next()"id="next" type="button"><img style="width: 20vmax; height: 20vmax;" src="~/css/img/Next Arrow.png" /> </button>-->


@section Scripts
{

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script>function Next() {


            $.ajax({
                type: "GET",
                url: "/Home/NEXT",
                data: { "count": $("#club").attr('count') },
                success: function (responce) {
                    $('#club').html(responce.club)
                    $('#text').html(responce.text)
                    $('#percentage').html(responce.percent)
                    $('#coin').prop('src', responce.coin)
                    $('#points').html(responce.points)
                    $('#mascot').prop('src', responce.path)
                    $('#club').attr('count', responce.count)
                    $('#hashtag').html(response.hashtag) // unsure what to put here?


                },
                error: function (responce) { alert(responce.data) }
            });

        }

        function Back() {

            $.ajax({
                type: "GET",
                url: "/Home/PREV",
                data: { "count": $("#club").attr('count') },
                success: function (responce) {
                    $('#club').html(responce.club)
                    $('#text').html(responce.text)
                    $('#percentage').html(responce.percent)
                    $('#coin').prop('src', responce.coin)
                    $('#points').html(responce.points)
                    $('#mascot').prop('src', responce.path)
                    $('#club').attr('count', responce.count)
                    $('#hashtag').html(response.hashtag) // unsure what to put here?


                },
                error: function (responce) { alert(responce.data) }
            });
        }</script>
}










