<link rel="stylesheet" href="https://use.typekit.net/lcb6sil.css" />
<link href="https://fonts.cdnfonts.com/css/peace-sans" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">


<style>


    .sunGlare {
        position: absolute;
        left: 65vmax;
        top: 4vmin;
        width: 35vmax;
        height: 30vmax;
        z-index: 36;
    }

    .layer1 {
        position: absolute;
        left: 0vmin;
        top: 0vmin;
        width: 85vmax;
        height: 55.35vmax;
        z-index: 35;
    }

    .layer2 {
        position: absolute;
        left: 0vmin;
        top: 0vmin;
        width: 100vmax;
        height: 55.35vmax;
        z-index: 34;
    }

    .layer3 {
        position: absolute;
        left: 0vmin;
        top: 0vmin;
        width: 100vmax;
        height: 55.35vmax;
        z-index: 35;
    }

    .layer4 {
        position: absolute;
        left: 0vmin;
        top: 0vmin;
        width: 100vmax;
        height: 55.35vmax;
        z-index: 33;
    }

    .layer5 {
        position: absolute;
        left: 0vmin;
        top: 0vmin;
        width: 100vmax;
        height: 55.35vmax;
        z-index: 32;
    }

    .layer6 {
        position: absolute;
        left: 0vmin;
        top: 0vmin;
        width: 100vmax;
        height: 55.35vmax;
        z-index: 31;
    }

    .layer7 {
        position: absolute;
        left: 15vmax;
        top: 0vmin;
        width: 85vmax;
        height: 55.35vmax;
        z-index: 35;
    }

    .layer8 {
        position: absolute;
        left: 0vmin;
        top: 0vmin;
        width: 100vmax;
        height: 55.35vmax;
        z-index: 34;
    }

    .layer9 {
        position: absolute;
        left: 15vmax;
        top: 0vmin;
        width: 85vmax;
        height: 55.35vmax;
        z-index: 30;
    }

    .layer10 {
        position: absolute;
        left: 10vmax;
        top: 0vmin;
        width: 80vmax;
        height: 55.35vmax;
        z-index: 36;
    }

    .layer11 {
        position: absolute;
        left: 15vmax;
        top: 0vmin;
        width: 85vmax;
        height: 55.35vmax;
        z-index: 36;
    }

    .layer12 {
        position: absolute;
        left: 15vmax;
        top: 0vmin;
        width: 85vmax;
        height: 55.35vmax;
        z-index: 36;
    }

    .layer13 {
        position: absolute;
        left: 10vmax;
        top: 0vmin;
        width: 85vmax;
        height: 55.35vmax;
        z-index: 36;
    }

    .layer14 {
        position: absolute;
        left: 0vmax;
        top: 0vmin;
        width: 82vmax;
        height: 55.35vmax;
        z-index: 36;
    }

    .layer15 {
        position: absolute;
        left: 15vmax;
        top: 0vmin;
        width: 80vmax;
        height: 55.35vmax;
        z-index: 36;
    }



    .pilltext {
        font-size: 8em;
        font-family: 'Tilt Warp', cursive;
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 0.0;
        text-align: left;
        bottom: 0%;
        position: absolute;
        left: 25vmax;
        top: 47.5vmax;
        z-index: 38;
    }
</style>

<div class="pilltext">
    Pill Party
</div>

<img class="layer1" src="~/css/img/Website Home Layer 1.png" />
<img class="layer2" src="~/css/img/Website Home Layer 10.png" />
<img class="layer3" src="~/css/img/Website Home Layer 9.png" />
<img class="layer4" src="~/css/img/Website Home Layer 11.png" />
<img class="layer5" src="~/css/img/Website Home Layer 12.png" />
<img class="layer6" src="~/css/img/Website Home Layer 13.png" />
<img class="layer7" src="~/css/img/Website Home Layer 14 A.png" />
<img class="layer8" src="~/css/img/Website Home Layer 15.png" />
<img class="layer9" src="~/css/img/Website Home Layer 16 B.png" />
<img class="layer10" src="~/css/img/Website Home Layer 2.png" />
<img class="layer11" src="~/css/img/Website Home Layer 3.png" />
<img class="layer12" src="~/css/img/Website Home Layer 4.png" />
<img class="layer15" src="~/css/img/Website Home Layer 5.png" />
<img class="layer13" src="~/css/img/Website Home Layer 6.png" />
<img class="layer14" src="~/css/img/Website Home Layer 7.png" />
<img class="layer13" src="~/css/img/Website Home Layer 8.png" />

<a href="https://twitter.com/pillpartynft"><img src="~/css/img/twitter.png" style="position: absolute; width: 5vmax; height: 5vmax; left: 85vmax; top: 48vmax; z-index: 36; "></a>
<a href="https://discord.gg/WRYBNetPMG"><img src="~/css/img/discord.png" style="position: absolute; width: 5vmax; height: 5vmax; left: 92.5vmax; top: 48vmax; z-index: 37; "></a>









