<style>
    .parent {
        display: table;
        height: 250px;
        width: 250px;
    }

    .image-wrapper {
        display: table-row;
        height: 100%;
    }

    .image {
        width: 100%;
        height: 100%;
    }

    .text {
        display: table-row;
    }

</style>





<div class="parent">
    <div class="image-wrapper">
        <img class="image" src="img/Chill Pill Web Site Art Demo 2 (1).png" />
    </div>

    <div class="text">
        A line of text.
    </div>
</div>
