<link rel="stylesheet" href="https://use.typekit.net/lcb6sil.css" />
<style> 

    .pillpartyteamtext {
        font-size: 10vmin;
        font-family: "Funkydori";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 0.667;
        text-align: center;
        position: absolute;
        left: 35vmax;
        top: 85vmin;
        z-index: 35;
    }

    .Brytext {
        font-size: 5vmin;
        font-family: "Funkydori";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.5;
        text-align: center;
        position: absolute;
        left: 66vmax;
        top: 67vmin;
        z-index: 34;
    }

    .J_Tommytext {
        font-size: 5vmin;
        font-family: "Funkydori";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.5;
        text-align: center;
        position: absolute;
        left: 86vmax;
        top: 67vmin;
        z-index: 33;
    }

    .OGBrownskintext {
        font-size: 5vmin;
        font-family: "Funkydori";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.5;
        text-align: center;
        position: absolute;
        left: 5vmax;
        top: 67vmin;
        z-index: 32;
    }

    .Cesawtext {
        font-size: 5vmin;
        font-family: "Funkydori";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.5;
        text-align: center;
        position: absolute;
        left: 26vmax;
        top: 67vmin;
        z-index: 31;
    }

    .Largetext {
        font-size: 5vmin;
        font-family: "Funkydori";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.5;
        text-align: center;
        position: absolute;
        left: 46vmax;
        top: 67vmin;
        z-index: 30;
    }

    .ogmascot1 {
        background-image: url("ogmascot1.png");
        position: absolute;
        left: 0vmax;
        top: 30vmin;
        width: 40vmin;
        height: 45.45vmin;
        z-index: 29;
    }

    .ogmascot2 {
        background-image: url("ogmascot2.png");
        position: absolute;
        left: 20vmax;
        top: 30vmin;
        width: 40vmin;
        height: 45.45vmin;
        z-index: 28;
    }

    .ogmascot3 {
        background-image: url("ogmascot3.png");
        position: absolute;
        left: 40vmax;
        top: 30vmin;
        width: 40vmin;
        height: 45.45vmin;
        z-index: 27;
    }

    .ogmascot4 {
        background-image: url("ogmascot4.png");
        position: absolute;
        left: 60vmax;
        top: 30vmin;
        width: 40vmin;
        height: 45.45vmin;
        z-index: 26;
    }

    .ogmascot5 {
        background-image: url("ogmascot5.png");
        position: absolute;
        left: 80vmax;
        top: 30vmin;
        width: 40vmin;
        height: 45.45vmin;
        z-index: 25;
    }

    ._JTommy40Labztext {
        font-size: 2.0vmin;
        font-family: "Arial";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 4;
        text-align: center;
        position: absolute;
        left: 86vmax;
        top: 70vmin;
        z-index: 24;
    }

    ._trybrybrytext {
        font-size: 2.0vmin;
        font-family: "Arial";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 4;
        text-align: center;
        position: absolute;
        left: 66vmax;
        top: 70vmin;
        z-index: 23;
    }

    ._Large40Mtext {
        font-size: 2.0vmin;
        font-family: "Arial";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 4;
        text-align: center;
        position: absolute;
        left: 46vmax;
        top: 70vmin;
        z-index: 22;
    }

    ._ogbrownskin_ethtext {
        font-size: 2.0vmin;
        font-family: "Arial";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 4;
        text-align: center;
        position: absolute;
        left: 5vmax;
        top: 70vmin;
        z-index: 21;
    }

    ._0xcesawtext {
        font-size: 2.0vmin;
        font-family: "Arial";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 4;
        text-align: center;
        position: absolute;
        left: 26vmax;
        top: 70vmin;
        z-index: 20;
    }

</style>

    <div class="pillpartyteamtext">
        Pill Party Team
    </div>

    <div class="OGBrownskintext">
        OG BrownSkin
    </div>

    <div class="Cesawtext">
        Cesaw
    </div>

    <div class="Largetext">
        Large
    </div>

    <div class="Brytext">
        B ry
    </div>

    <div class="J_Tommytext">
        J tommy
    </div>
    <div class="_ogbrownskin_ethtext">
        @@ogbrownskin_eth
    </div>

    <div class="_0xcesawtext">
        @@0xcesaw
    </div>

    <div class="_Large40Mtext">
        @@Large40M
    </div>

    <div class="_trybrybrytext">
        @@trybrybry
    </div>

    <div class="_JTommy40Labztext">
        @@JTommy40Labz
    </div>

<img class="ogmascot1" src="~/css/img/Alexs_Pill.png">
<img class="ogmascot2" src="~/css/img/Carloss_Pill.png">
<img class="ogmascot3" src="~/css/img/Ivans_Pill.png">
<img class="ogmascot4" src="~/css/img/Bryans_Pill.png">
<img class="ogmascot5" src="~/css/img/Tommys_Pill.png">



  




