<style> 

    .pillpartyteamtext {
        font-size: 5vmin;
        font-family: "Funkydori";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 0.667;
        text-align: center;
        position: absolute;
        left: 40vmax;
        top: 95vmin;
        z-index: 35;
    }

    .Brytext {
        font-size: 3vmin;
        font-family: "Funkydori";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.5;
        text-align: center;
        position: absolute;
        left: 60vmax;
        top: 80vmin;
        z-index: 34;
    }

    .J_Tommytext {
        font-size: 3vmin;
        font-family: "Funkydori";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.5;
        text-align: center;
        position: absolute;
        left: 80vmax;
        top: 80vmin;
        z-index: 33;
    }

    .OGBrownskintext {
        font-size: 3vmin;
        font-family: "Funkydori";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.5;
        text-align: center;
        position: absolute;
        left: 10vmax;
        top: 80vmin;
        z-index: 32;
    }

    .Cesawtext {
        font-size: 3vmin;
        font-family: "Funkydori";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.5;
        text-align: center;
        position: absolute;
        left: 30vmax;
        top: 80vmin;
        z-index: 31;
    }

    .Largetext {
        font-size: 3vmin;
        font-family: "Funkydori";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.5;
        text-align: center;
        position: absolute;
        left: 45vmax;
        top: 80vmin;
        z-index: 30;
    }

    .ogmascot1 {
        background-image: url("ogmascot1.png");
        position: absolute;
        left: 8vmax;
        top: 588px;
        width: 30.8vmin;
        height: 35vmin;
        z-index: 29;
    }

    .ogmascot2 {
        background-image: url("ogmascot2.png");
        position: absolute;
        left: 25vmax;
        top: 588px;
        width: 30.8vmin;
        height: 35vmin;
        z-index: 28;
    }

    .ogmascot3 {
        background-image: url("ogmascot3.png");
        position: absolute;
        left: 40vmax;
        top: 588px;
        width: 30.8vmin;
        height: 35vmin;
        z-index: 27;
    }

    .ogmascot4 {
        background-image: url("ogmascot4.png");
        position: absolute;
        left: 55vmax;
        top: 588px;
        width: 30.8vmin;
        height: 35vmin;
        z-index: 26;
    }

    .ogmascot5 {
        background-image: url("ogmascot5.png");
        position: absolute;
        left: 75vmax;
        top: 588px;
        width: 30.8vmin;
        height: 35vmin;
        z-index: 25;
    }

    ._JTommy40Labztext {
        font-size: 25px;
        font-family: "Arial";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 4;
        text-align: center;
        position: absolute;
        left: 80vmax;
        top: 82vmin;
        z-index: 24;
    }

    ._trybrybrytext {
        font-size: 25px;
        font-family: "Arial";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 4;
        text-align: center;
        position: absolute;
        left: 60vmax;
        top: 82vmin;
        z-index: 23;
    }

    ._Large40Mtext {
        font-size: 25px;
        font-family: "Arial";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 4;
        text-align: center;
        position: absolute;
        left: 45vmax;
        top: 82vmin;
        z-index: 22;
    }

    ._ogbrownskin_ethtext {
        font-size: 25px;
        font-family: "Arial";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 4;
        text-align: center;
        position: absolute;
        left: 10vmax;
        top: 82vmin;
        z-index: 21;
    }

    ._0xcesawtext {
        font-size: 25px;
        font-family: "Arial";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 4;
        text-align: center;
        position: absolute;
        left: 30vmax;
        top: 82vmin;
        z-index: 20;
    }

</style>

    <div class="pillpartyteamtext">
        Pill Party Team
    </div>

    <div class="OGBrownskintext">
        OG BrownSkin
    </div>

    <div class="Cesawtext">
        Cesaw
    </div>

    <div class="Largetext">
        Large
    </div>

    <div class="Brytext">
        B ry
    </div>

    <div class="J_Tommytext">
        J tommy
    </div>
    <div class="_ogbrownskin_ethtext">
        @@ogbrownskin_eth
    </div>

    <div class="_0xcesawtext">
        @@0xcesaw
    </div>

    <div class="_Large40Mtext">
        @@Large40M
    </div>

    <div class="_trybrybrytext">
        @@trybrybry
    </div>

    <div class="_JTommy40Labztext">
        @@JTommy40Labz
    </div>

<img class="ogmascot1" src="~/css/img/40 Mascot.png">
<img class="ogmascot2" src="~/css/img/40 Mascot.png">
<img class="ogmascot3" src="~/css/img/40 Mascot.png">
<img class="ogmascot4" src="~/css/img/40 Mascot.png">
<img class="ogmascot5" src="~/css/img/40 Mascot.png">



  




