<link rel="stylesheet" href="https://use.typekit.net/lcb6sil.css" />
<link href="https://fonts.cdnfonts.com/css/peace-sans" rel="stylesheet">
<link rel="stylesheet" href="https://use.typekit.net/lcb6sil.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">



<style>

    .pillpartyteamtext {
        font-size: 10vmin;
        font-family: 'Tilt Warp', cursive;
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 0.667;
        text-align: center;
        position: absolute;
        left: 30vmax;
        top: 85vmin;
        z-index: 35;
    }

    .Brytext {
        font-size: 5vmin;
        font-family: 'Tilt Warp', cursive;
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.5;
        text-align: center;
        position: absolute;
        left: 68vmax;
        top: 70vmin;
        z-index: 34;
    }

    .J_Tommytext {
        font-size: 5vmin;
        font-family: 'Tilt Warp', cursive;
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.5;
        text-align: center;
        position: absolute;
        left: 85.5vmax;
        top: 70vmin;
        z-index: 33;
    }

    .OGBrownskintext {
        font-size: 5vmin;
        font-family: 'Tilt Warp', cursive;
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.5;
        text-align: center;
        position: absolute;
        left: 2vmax;
        top: 70vmin;
        z-index: 32;
    }

    .Cesawtext {
        font-size: 5vmin;
        font-family: 'Tilt Warp', cursive;
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.5;
        text-align: center;
        position: absolute;
        left: 26.5vmax;
        top: 70vmin;
        z-index: 31;
    }

    .Largetext {
        font-size: 5vmin;
        font-family: 'Tilt Warp', cursive;
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.5;
        text-align: center;
        position: absolute;
        left: 47vmax;
        top: 70vmin;
        z-index: 30;
    }

    .ogmascot1 {
        background-image: url("ogmascot1.png");
        position: absolute;
        left: 0vmax;
        top: 36vmin;
        width: 40vmin;
        height: 43vmin;
        z-index: 29;
    }

    .ogmascot2 {
        background-image: url("ogmascot2.png");
        position: absolute;
        left: 20vmax;
        top: 37vmin;
        width: 40vmin;
        height: 42vmin;
        z-index: 28;
    }

    .ogmascot3 {
        background-image: url("ogmascot3.png");
        position: absolute;
        left: 40vmax;
        top: 36vmin;
        width: 40vmin;
        height: 43vmin;
        z-index: 27;
    }

    .ogmascot4 {
        background-image: url("ogmascot4.png");
        position: absolute;
        left: 60vmax;
        top: 36vmin;
        width: 40vmin;
        height: 43vmin;
        z-index: 26;
    }

    .ogmascot5 {
        background-image: url("ogmascot5.png");
        position: absolute;
        left: 80vmax;
        top: 37vmin;
        width: 40vmin;
        height: 42vmin;
        z-index: 25;
    }

    ._JTommy40Labztext {
        font-size: 2.0vmin;
        font-family: "bebas-neue-pro";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 4;
        text-align: center;
        position: absolute;
        left: 88vmax;
        top: 75vmin;
        z-index: 24;
    }

    ._trybrybrytext {
        font-size: 2.0vmin;
        font-family: "bebas-neue-pro";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 4;
        text-align: center;
        position: absolute;
        left: 68.5vmax;
        top: 75vmin;
        z-index: 23;
    }

    ._Large40Mtext {
        font-size: 2.0vmin;
        font-family: "bebas-neue-pro";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 4;
        text-align: center;
        position: absolute;
        left: 48.5vmax;
        top: 75.5vmin;
        z-index: 22;
    }

    ._ogbrownskin_ethtext {
        font-size: 2.0vmin;
        font-family: "bebas-neue-pro";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 4;
        text-align: center;
        position: absolute;
        left: 7.5vmax;
        top: 75vmin;
        z-index: 21;
    }

    ._0xcesawtext {
        font-size: 2.0vmin;
        font-family: "bebas-neue-pro";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 4;
        text-align: center;
        position: absolute;
        left: 28.5vmax;
        top: 75vmin;
        z-index: 20;
    }
</style>

<div class="pillpartyteamtext">
    Pill Party Team
</div>

<div class="OGBrownskintext">
    OG BrownSkin
</div>

<div class="Cesawtext">
    Cesaw
</div>

<div class="Largetext">
    Large
</div>

<div class="Brytext">
    B.ry
</div>

<div class="J_Tommytext">
    J Tommy
</div>
<div class="_ogbrownskin_ethtext">
    @@ogbrownskin_eth
</div>

<div class="_0xcesawtext">
    @@0xcesaw
</div>

<div class="_Large40Mtext">
    @@Large40M
</div>

<div class="_trybrybrytext">
    @@trybrybry
</div>

<div class="_JTommy40Labztext">
    @@JTommy_eth
</div>

<img class="ogmascot1" src="~/css/img/Alexs_Pill.png">
<img class="ogmascot2" src="~/css/img/Carloss_Pill.png">
<img class="ogmascot3" src="~/css/img/Ivans_Pill.png">
<img class="ogmascot4" src="~/css/img/Bryans_Pill.png">
<img class="ogmascot5" src="~/css/img/Tommys_Pill.png">








