<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PillPartyNFT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PillPartyNFT.styles.css" asp-append-version="true" />
</head>

    @Html.Partial("header")


    <body class="@ViewBag.color">
        @RenderBody()

    </body>

        <footer class="border-top footer text-muted test">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <a href="https://twitter.com/pillpartynft?ref_src=twsrc%5Etfw"><img src="~/css/img/Legal_Twitter_Coin_Blue.png" width="75" height="75"></img></a>
                <a href="https://discord.gg/66CGhvz7BW"><img src="~/css/img/Legal_Discord_Coin_Blue.png" width="75" height="75"></img></a>

                <div class="container-fluid">
                &copy; 2022 - PillPartyNFT - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </nav>

        </footer>

 


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</html>


