 <footer class="border-top footer text-muted test">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    &copy; 2022 - PillPartyNFT - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </nav>
 </footer>