 <div class="border-none footer text-muted test" style="position: absolute; width: 100vmax; height: 0vmin; left: 0vmax; top: 95.25vmin; z-index: 42; ">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-transparent border-transparent box-transparent mb-3">
                <div class="container-fluid">
                    &copy; 2023 - PillPartyNFT - 
                    <a asp-area="" asp-controller="Home" asp-action="TermsOfService">Terms Of Service</a>
                </div>
            </nav>
 </div>