<link rel="stylesheet" href="https://use.typekit.net/lcb6sil.css" />
<style>
    .hometext {
      font-size: 50px;
      font-family: "Bebas Neue Pro";
      color: rgb(0, 0, 0);
      line-height: 1;
      text-align: left;
      position: absolute;
      left: 35vmax;
      top: 2.5vmin;
      z-index: 47;
      text-decoration: none;
    }
    .abouttexthead {
      font-size: 50px;
      font-family: "Bebas Neue Pro";
      color: rgb(0, 0, 0);
      line-height: 1;
      text-align: left;
      position: absolute;
      left: 45vmax;
      top: 2.5vmin;
      z-index: 46;
      text-decoration: none;
    }
    .teamtext {
      font-size: 50px;
      font-family: "Bebas Neue Pro";
      color: rgb(0, 0, 0);
      line-height: 1;
      text-align: left;
      position: absolute;
      left: 55vmax;
      top: 2.5vmin;
      z-index: 45;
      text-decoration: none;
    }
    .gallerytext {
      font-size: 50px;
      font-family: "Bebas Neue Pro";
      color: rgb(0, 0, 0);
      line-height: 1;
      text-align: left;
      position: absolute;
      left: 1031.9px;
      top: 262px;
      z-index: 44;
      text-decoration: none;
    }

    .minttext {
      font-size: 50px;
      font-family: "Bebas Neue Pro";
      color: rgb(0, 0, 0);
      line-height: 1;
      text-align: left;
      position: absolute;
      left: 35vmax;
      top: 10vmin;
      z-index: 43;
      text-decoration: none;
    }
</style>


            <a class="hometext" asp-area="" asp-controller="Home" asp-action="Index">Home</a>

            <a class="abouttexthead" asp-area="" asp-controller="Home" asp-action="About">About</a>

            <a class="teamtext" asp-area="" asp-controller="Home" asp-action="Team">Team</a>

