<link rel="stylesheet" href="https://use.typekit.net/lcb6sil.css" />
<style>
    @@font-face {
        font-family: 'Bayland Extrude';
        src: url('~/css/font/Bayland Extrude.otf');
    }


    @@font-face {
        font-family: 'Bayland Regular';
        src: url('~/css/font/Bayland Regular.otf');
    }

    .hometext {
        font-size: 50px;
        font-family: "bebas-neue-pro";
        color: rgb(0, 0, 0);
        line-height: 1;
        text-align: left;
        position: absolute;
        left: 25vmax;
        top: 2.5vmin;
        z-index: 47;
        text-decoration: none;
    }


    .abouttexthead {
        font-size: 50px;
        font-family: "bebas-neue-pro";
        color: rgb(0, 0, 0);
        line-height: 1;
        text-align: left;
        position: absolute;
        left: 35vmax;
        top: 2.5vmin;
        z-index: 46;
        text-decoration: none;
    }

    .clubtext {
        font-size: 50px;
        font-family: "bebas-neue-pro";
        color: rgb(0, 0, 0);
        line-height: 1;
        text-align: left;
        position: absolute;
        left: 45vmax;
        top: 2.5vmin;
        z-index: 46;
        text-decoration: none;
    }

    .teamtext {
        font-size: 50px;
        font-family: "bebas-neue-pro";
        color: rgb(0, 0, 0);
        line-height: 1;
        text-align: left;
        position: absolute;
        left: 55vmax;
        top: 2.5vmin;
        z-index: 45;
        text-decoration: none;
    }

    .gallerytext {
        font-size: 50px;
        font-family: "bebas-neue-pro";
        color: rgb(0, 0, 0);
        line-height: 1;
        text-align: left;
        position: absolute;
        left: 1031.9px;
        top: 262px;
        z-index: 44;
        text-decoration: none;
    }

    .minttext {
        font-size: 50px;
        font-family: "bebas-neue-pro";
        color: rgb(0, 0, 0);
        line-height: 1;
        text-align: left;
        position: absolute;
        left: 65vmax;
        top: 2.5vmin;
        z-index: 43;
        text-decoration: none;
    }

    hr {
        display: block;
        margin-top: 5vmax;
        margin-left: 23.5vmax;
        border-style: solid;
        border-width: .1275vmax;
        color: black;
        border-block-color: black;
        width: 47.5vmax;
        position: absolute;
        z-index: 43;
        opacity: 1;
    }
</style>


<a class="hometext" asp-area="" asp-controller="Home" asp-action="Index">Home</a>

<a class="abouttexthead" asp-area="" asp-controller="Home" asp-action="About">About</a>
<a class="clubtext" asp-area="" asp-controller="Home" asp-action="Clubs">Clubs </a>


<a class="teamtext" asp-area="" asp-controller="Home" asp-action="Team">Team</a>

<a class="minttext" asp-area="" asp-controller="Home" asp-action="Mint">Mint</a>

<hr />



