html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body.home {
    height: 100%;
    width: 100%;
    background: url('img/Chill Pill Web Site Art Demo 2 (1).png');

}
body.team {
    height: 100%;
    width: 100%;
    background: url(img/Team_Page.png);
}
body.pink {
    height: 100%;
    width: 100%;
    background-color: #f49ac2;
}
body.black {
    height: 100%;
    width: 100%;
    background-color: #000000;
}
body.yellow {
    height: 100%;
    width: 100%;
    background-color: #ffd85e;
}
body.test {
    height: 95%;
    width: 100%;
    background-color: red;
}


